.sections {
}

.sections__section {
  border-top: 1px solid rgb(88, 88, 88);
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: #e6e6e6;
}

.sections__section:nth-child(even) {
  background-color: #f5f5f5;
}

.sections__section:last-child {
  border-bottom: 1px solid rgb(88, 88, 88);
}

.sections__section-top,
.sections__section-bottom,
.sections__section-solid {
  gap: 60px;
  max-width: 80vw;
  padding: 3px 0;
}

.sections__section-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(160, 159, 159);
}

.sections__section-row {
  display: flex;
  justify-content: space-between;
  padding: 3px 0 0;
}

.sections__section-part {
  width: fit-content;
  display: flex;
  align-items: center;
  min-width: 64px;
}

.sections__section-btn,
.sections__section-row-btn {
  padding: 5px;
  background-color: rgb(63, 152, 230);
  border-radius: 10px;
  width: 100%;
  text-align: center;
  transition: all 0.2s ease;
  margin-top: 5px;
}

.sections__section-row-btn {
  width: auto;
}

.sections__section-btn:hover,
.sections__section-row-btn:hover {
  box-shadow: 0px 0px 5px black;
}

.sections__section-btn:active,
.sections__section-row-btn:active {
  box-shadow: inset 0px 0px 5px black;
}

.sections__section-btn:disabled,
.sections__section-row-btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.sections__section-input {
  border: 1px solid rgb(148, 203, 255);
  width: 7ch;
  background-color: white;
  cursor: text;
  padding: 2px;
}

.navbar__menu-button-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 8px 2px;

  cursor: pointer;
  margin-left: 10px;
}

.navbar__menu-button-arrow span {
  width: 10px;
  height: 2px;
  background: black;
  transition: transform 0.3s ease;
}

.navbar__menu-button-arrow .arrow-span:first-child {
  transform: translateX(1.3px) rotate(45deg);
}

.navbar__menu-button-arrow .arrow-span:last-child {
  transform: translateX(-2px) rotate(-45deg);
}

.open .arrow-span:first-child {
  transform: translateX(2px) rotate(-45deg);
}

.open .arrow-span:last-child {
  transform: translateX(-2px) rotate(45deg);
}

.sections__section-solid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sections__section-bottom {
  max-height: 0;
  opacity: 0;
  overflow: hidden;

  transition:
    max-height 0.5s ease,
    opacity 0.3s ease;
}

.sections__section-bottom.open {
  max-height: 500px;
  opacity: 1;
}

.sections__section-difference {
  padding: 5px 7px;
  margin-right: 10px;
  background-color: pink;
  border-radius: 20px;
}
