.modal {
  position: fixed;
  z-index: 2;
  top: 0;
  background-color: rgba(0, 0, 0, 0.281);
  color: black;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  min-width: 30vw;
  min-height: 50px;
  margin: 0 20px;
}

.modal__title,
.modal__title_with-back {
  text-align: start;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  width: fit-content;
}

.modal__title_with-back {
  margin: 25px 0 10px;
}

.modal__close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  top: 10px;
  right: 10px;
  padding: 15px;
}

.modal__close-btn::before,
.modal__close-btn::after {
  content: "";
  position: absolute;
  inset: 50% auto auto 50%;
  width: 20px;
  height: 2px;
  background: #000000;
}

.modal__close-btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal__close-btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.invoice-num {
  padding: 0 5px 10px;
}

.invoice-num-num {
  opacity: 0.7;
}

.modal__back-btn {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Arrow */
.modal__back-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: translate(-30%, -50%) rotate(45deg);
}

/* Hover */
.modal__back-btn:hover::before {
  border-color: #555;
}

.edit__btn,
.edit__btn_delete {
  padding: 5px;
  background-color: rgb(63, 152, 230);
  border-radius: 10px;
  width: 100%;
  text-align: center;
  transition: all 0.2s ease;
  margin: 5px 0 10px;
}

.edit__btn:hover,
.edit__btn_delete:hover {
  box-shadow: 0px 0px 5px black;
}

.edit__btn:active,
.edit__btn_delete:active {
  box-shadow: inset 0px 0px 5px black;
}

.edit__btn:disabled,
.edit__btn_delete:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.edit__btn_delete {
  background-color: rgb(253, 122, 122);
  margin-bottom: 15px;
}
